/*ul {
  margin-left: 300px;

}*/

.feed {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  /*border: 1px solid black;*/
  min-height: 1000px;
}

.slogan {
  text-align: center;
  padding-top: 75px;
}

.shoutBox {
  border: 1px solid #333;
  padding: 20px;
  background-color: #ffffff;
  width: 100%;
  margin-top: 25px;
}

.alternateColorOne {
  background-color: #ddd;
}

.user-icon {
  font-size: 24px;
  padding-right: 5px;
}

.shoutingText {
  font-size: 26px;
}

.newShoutSubmit {
  /*border: 1px solid #333;*/
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;

}

.newSportsShout {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.newMusicShout {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.loginArea {

  margin-left: 100px;
  /*margin-right: 100px;*/
  margin-top: 100px;
}

.shoutArea {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
}


.naviList:hover {
  border-bottom: 10px solid #14c39c;

}

.navbar-nav li a {
  padding-top: 10px;
  padding-bottom: 10px;
}


.navText {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 15px;
  
}

.input-group {
  width: 300px;
}

.userWelcome {
  height: 40px;
  font-size: 20px;
  font-weight: bold;
}

.shoutSubmitBox {
  height: 60px;
  font-size: 20px;
}

.logoutText {
  margin-top: 20px;
  margin-left: 250px;
  font-size: 20px;
  margin-right: 100px;
}

.signupSection {
  background-image: url("../image/signinbg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
}

/*.error404 {
  background-image: url("../image/404error.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}*/

.featuredSection {
  background-image: url("../image/loginbackground.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
}

.signupLine {
  border-bottom: 1px solid #ffffff;
  width: 300px;
}

.loginTitle {
  color: #ffffff;
}

.signupAll {
  margin-left: 15px;
}

.emailReset {
  margin-top: 100px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #f8f8f8;
  color: red;
}

.naviList:hover {
  border-bottom: 10px solid red;

}

#mySlogan {
  font-size: 40px;
}

#featuredNav {
  width: 200px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#sportNav {
  width: 200px;
  border-right: 1px solid black;
}

#musicNav {
  width: 200px;
  border-right: 1px solid black;
}

#navbarSelect {
  margin-left: 700px;
}

#resetbg {
  background-image: url("../image/resetbg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
}

#resetPassword {
  color: #ffffff;
}


#joinToday {
  color: #ffffff;
}

#signupButton {
  background-color: #f5f8fa;
}

#logoutSection {
  width: 200px;
  height: 75px;
}

#musicText {

}

#loginSection {
  /*background-color: #f5f8fa;*/
  min-height: 1000px;
}

#shoutSection {
  /*background-color: #f5f8fa;*/
  min-height: 1000px;
}

#background {
  /*background-color: #14c39c;*/
  background-image: url("../image/mainbg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 1500px;*/
  height: 350px;
}

#pageTitle {
  margin-left: 10px;
  margin-top: 10px;
}

#shoutIcon {
  margin-top: 30px;
  margin-left: 170px;
}

#pageTitle a {
  margin-top: 120px;
  margin-left: 135px;
  font-size: 44px;
  color: #777;
  text-decoration: none;
}

#loginButton {
  margin-left: 90px;
}

#notmember {
  color: #ffffff;
}

