.feed {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  /*border: 1px solid black;*/
  min-height: 1000px;
}

.shoutBox {
  border: 1px solid #333;
  padding: 20px;
  background-color: #ffffff;
  width: 100%;
  margin-top: 25px;
}

.alternateColorOne {
  background-color: #ddd;
}

.user-icon {
  font-size: 24px;
  padding-right: 5px;
}

.shoutingText {
  font-size: 26px;
}

.newShoutSubmit {
  /*border: 1px solid #333;*/
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;

}

.newSportsShout {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.loginArea {

  margin-left: 100px;
  /*margin-right: 100px;*/
  margin-top: 100px;
}

.shoutArea {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
}


.naviList:hover {
  border-bottom: 5px solid #14c39c;

}

.naviList {
  padding-right: 45px;
}


.navText {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  padding-right: 60px;
  padding-left: 60px;
  
}

.input-group {
  width: 300px;
}

.userWelcome {
  height: 40px;
  font-size: 20px;
  font-weight: bold;
}

.shoutSubmitBox {
  height: 60px;
  font-size: 20px;
}

.logoutText {
  margin-top: 20px;
  margin-left: 250px;
  font-size: 20px;
  margin-right: 100px;
}

.signupSection {
  background-image: url("../image/signinbg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
}

.featuredSection {
  background-image: url("../image/loginbackground.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
}

.signupLine {
  border-bottom: 1px solid #ffffff;
  width: 300px;
}

.loginTitle {
  color: #ffffff;
}

#musicNav {
  padding-right: 75px;
}

#featuredNav {
  
  height: 75px;
}

#joinToday {
  margin-top: 100px;
  color: #ffffff;
}

#signupUsername {
  margin-left: 720px;
}

#signupPassword {
  margin-left: 720px;
}

#signupEmail {
  margin-left: 720px;
}

#signupButton {
  margin-left: 720px;
  background-color: #f5f8fa;
}

#logoutSection {
  width: 200px;
  height: 75px;
}

#musicText {

}

#loginSection {
  /*background-color: #f5f8fa;*/
  min-height: 1000px;
}

#shoutSection {
  /*background-color: #f5f8fa;*/
  min-height: 1000px;
}

#background {
  /*background-color: #14c39c;*/
  background-image: url("../image/mainbg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 1500px;*/
  height: 350px;
}

#pageTitle {
  margin-left: 10px;
  margin-top: 10px;
}

#shoutIcon {
  margin-top: 30px;
  margin-left: 170px;
}

#pageTitle a {
  margin-top: 120px;
  margin-left: 100px;
  font-size: 44px;
  color: #fff;
}

#loginButton {
  margin-left: 90px;
}

#notmember {
  color: #ffffff;
}

